<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2><a href="../user/home.html" th:href="@{/users}">Home</a></h2> <!-- 이전 요청 페이지가 어떤지에 따라 고치기 -->

    <form action="bookList.html" th:action method="get" th:object="${bsDto}">
        <label for="bookName">도서명</label>
        <input type="text" id="bookName" th:field="*{bookName}"><br>
        <label for="bookAuthor">저자</label>
        <input type="text" id="bookAuthor" th:field="*{bookAuthor}">
        <br>
        <button type="submit">검색</button> <!-- 검색 요청한 폼 값 유지되어야 함 -->
    </form>
    <br>

    <!-- book 객체 내의 bookKind 필드로 도서에 대한 자세한 정보 접근 -->
    <!-- 청구기호, 도서명, 저자, 출판사, 발행년, 현재 대출가능여부 -->
    <table border="1">
        <thead>
        <tr>
            <td>도서번호</td>
            <td>청구기호</td>
            <td>도서명</td>
            <td>저자</td>
            <td>출판사</td>
            <td>발행년</td>
            <td>대출가능여부</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.bookId}">1</td>
            <td th:text="|${book.bookKind.bookSymbol} c${book.bookCopy}|">100.김</td>
            <th:block th:object="${book.bookKind}">
                <td th:text="*{bookName}">Spring Boot</td>
                <td th:text="*{bookAuthor}">김영한</td>
                <td th:text="*{bookPublisher}">인프런</td>
                <td th:text="*{bookPubYear}">2019</td>
                <td>가능</td> <!-- 도서 대출 가능 여부 나중에... -->
            </th:block>
        </tr>
        </tbody>
    </table>
</body>
</html>