<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2><a href="home.html" th:href="@{/users}">Home</a></h2>

    <table border="1">
        <thead>
            <tr>
                <td>도서 번호</td>
                <td>청구 기호</td>
                <td>도서명</td>
                <td>저자</td>
                <td>출판사</td>
                <td>발행년</td>
                <td>대출일</td>
                <td>반납예정일</td>
                <td>연체일수</td>
                <!-- 연기가능 여부에 따라 버튼 활성화 -->
                <td>연기신청</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="borrowObj : ${borrowList}">
                <td th:text="${borrowObj.bookId}">12345</td>
                <th:block th:object="${borrowObj.book.bookKind}">
                    <td th:text="*{bookSymbol}">100.김</td>
                    <td th:text="*{bookName}">spring boot</td>
                    <td th:text="*{bookAuthor}">Ethan</td>
                    <td th:text="*{bookPublisher}">인프런</td>
                    <td th:text="*{bookPubYear}">2022</td>
                </th:block>
                <td th:text="${borrowObj.borrowDay}">2022.01.01</td>
                <td th:text="${borrowObj.expecReturnDay}">2022.01.15</td>
                <td th:text="${borrowObj.overdueDay}">0</td>
                <td>
                    <button th:if="${borrowObj.delayTimes == 0}" type="button" onclick="" th:onclick="">연기</button> <!-- 어디서 delayTimes의 값을 +1 하지? -->
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>