<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2><a href="home.html" th:href="@{/users}"></a></h2>

    <form action="user.html" th:action method="post">
        <label for="userLongPwd">비밀번호</label>
        <input type="text" id="userLongPwd" name="userLongPwd" value="abcd1234"><br>
        <label for="userShortPwd">대출용 비밀번호</label>
        <input type="text" id="userShortPwd" name="userShortPwd" value="1234"><br>
        <label for="userName">이름</label>
        <input type="text" id="userName" name="userName" value="Ethan"><br>
        <label for="userTel">전화번호</label>
        <input type="text" id="userTel" name="userTel" value="010-1234-5678"><br>
        <br>
        <button type="submit">저장</button>
        <button type="button" onclick="location.href='home.html'" th:onclick="|location.href='@{/users}'|">취소</button>
    </form>
</body>
</html>