<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2><a href="home.html" th:href="@{/users}">Home</a></h2>

    <table border="1">
        <thead>
        <tr>
            <td>도서 번호</td>
            <td>청구 기호</td>
            <td>도서명</td>
            <td>저자</td>
            <td>출판사</td>
            <td>발행년</td>
            <td>반납일</td>
            <td>반납시간</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="returnObj : ${returnList}">
            <th:block th:object="${returnObj.book}">
                <td th:text="*{bookId}">12345</td>
                <td th:text="|*{bookKind.bookSymbol} c*{bookCopy}|">100.김</td>
            </th:block>
            <th:block th:object="${returnObj.book.bookKind}">
                <td th:text="*{bookName}">spring boot</td>
                <td th:text="*{bookAuthor}">Ethan</td>
                <td th:text="*{bookPublisher}">인프런</td>
                <td th:text="*{bookPubYear}">2022</td>
            </th:block>
            <td th:text="${returnObj.returnDay}">2022.01.01</td>
            <td th:text="${returnObj.returnTime}">21:10</td>
        </tr>
        </tbody>
    </table>
</body>
</html>